In [2]:
import numpy as np
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [6]:
frame = pd.read_csv('../data/housing.csv')

In [11]:
frame.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [13]:
frame.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [15]:
frame.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [19]:
frame['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [25]:
frame[frame['ocean_proximity']=='NEAR BAY'].median_house_value.describe()

count      2290.000000
mean     259212.311790
std      122818.537064
min       22500.000000
25%      162500.000000
50%      233800.000000
75%      345700.000000
max      500001.000000
Name: median_house_value, dtype: float64

In [72]:
frame_copy= frame.copy()

In [73]:
frame.total_bedrooms.mean()

537.8705525375618

In [74]:
frame_copy['total_bedrooms'].fillna(frame.total_bedrooms.mean(),inplace=True)

In [75]:
frame_copy['total_bedrooms'].mean()

537.8705525375617

In [76]:
frame_copy = frame_copy[frame_copy['ocean_proximity']=='ISLAND'].loc[:,['housing_median_age','total_rooms','total_bedrooms']].copy()

In [77]:
frame_copy

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [78]:
X = frame_copy.to_numpy()

In [79]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [80]:
XTX = X.T.dot(X)

In [81]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [82]:
INV = np.linalg.inv(XTX)

In [83]:
t = INV.dot(X.T)

In [84]:
t

array([[-0.00825608, -0.00653208, -0.00232159,  0.02565144,  0.01204934],
       [-0.00165852,  0.0011141 ,  0.00139656, -0.00103215, -0.00110698],
       [ 0.00754365, -0.00301964, -0.00455125,  0.00181685,  0.00329418]])

In [85]:
Y = np.array([950, 1300, 800, 1000, 1300])

In [86]:
w = t.dot(Y)

In [87]:
w

array([23.12330961, -1.48124183,  5.69922946])